*{margin: 0px;padding:0px}

.header{height:70px;width: 100%;}
.header_container{
    height:70px;
    width:90%;
    background-color:white; 
    margin: auto;
  
}
#menu_btn{
    float: right;
    width:50px;
    height:20px;
}
.company_name>h3{
font-family: 'Lobster', cursive;
font-size: 40pt;
}
.company_name{
    float: left;
  
}
.search_box{
    float: left;
   margin-left:17%;
    margin-top: 20px;
    
   
}
.search_box_container{
    width: 250px;
    height: 35px;
    background-color:white;
   border: 1px solid red;
    border-radius:5px;
    
}
#search_box{
    width: 213px;
    height:35px;
    background-color:;
    border: none;
    float: left; 
    border-radius:5px;    
    
}
.search_box_container>img{
    float:right;
    cursor:pointer;
}
.menu_mobile_icone{
    display:none;
    
}

.cart{
    float:right;
    margin-top:10px;
    cursor: pointer;
     
}
.cart_container>img{
    width: 50px; 
    height: 50px;
    transition: all .2s ease-in-out 0s;
   
}
.cart_container>img:hover{
    width: 60px; 
    height: 60px;
     margin-top:0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
    font-size:12pt;
    padding-left: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
 color: darkgray;
     color: darkgray;
    font-size:12pt;
    padding-left: 10px;
}
:-ms-input-placeholder { /* IE 10+ */
 color: darkgray;
color: darkgray;
font-size:12pt;
padding-left: 10px;
}
:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}
/*header ends  here*/
.product_mobile_menu{width:0px;height:500px;background-color:lightcyan;position:fixed;transition: all .2s ease-in-out 0s;overflow: hidden;cursor: pointer;}
.close_image{width:50px;height: 50px;background-color: ;float: right;}
.close_image>img{
    width: 100%;
    height:100%;
    cursor: pointer;
}
/*mobile menu ends here*/
.nav{width: 100%;min-height:50px;height: auto;}
.nav_container{height:auto;width:90%;background-color: cornsilk;;margin: auto;min-height: 50px;}
ul li{list-style: none;float: left;width:12%;height: 50px;line-height: 40px;margin-right: 20px;text-align: center;background-color: ;}
ul li ul{position: absolute;margin: auto;background-color:;width:100px;}
ul li ul li{float: none;display: none;margin-top: 1px;background-color: floralwhite;width: 125px;border: none;}
ul li:hover ul li{display: block;}


/*nav ends here*/
.product_section{height:auto;width: 100%;background-color:;clear: both; margin-top: 10px;}
.product_section_container{
    
    width:90%;
    height:auto;
    background-color:azure;
    margin: auto;
    display: grid;
    grid-template-columns:1fr 3fr;
}
.product_section_left_side{
    background-color: ;
    margin-right: 5px;
    
}
.product_section_right_side{
    background-color:darkgoldenrod;
}
.product_filter{
    width: 80%;
    height:auto;
    text-align: center;
    margin: auto;
    overflow:hidden;
    
   
}
.product_filter>h3{
    border: 1px solid deeppink;
}
.product_filter>ul{
    margin-top:8px;
    background-color: antiquewhite;
}
.product_filter>ul li{
    float: none;
    width: 99%;
    height: 30px;
    border: 1px solid deeppink;
    margin-bottom: 3px;
    line-height: 30px;
}
/*product section ends here*/

.footer{height:auto;width: 100%;background-color: ;}
.footer_container{height: 100px;width: 90%;background-color:deepskyblue;margin: auto;}
